# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/news-site-site/dist/*
/news-site/tmp
/news-site/out-tsc
/news-site/bazel-out

# Node
/news-site/node_modules/*
/news-site/package-lock.json
/news-site/npm-debug.log
/news-site/yarn-error.log

# IDEs and editors
/news-site/.idea/
/news-site/.project
/news-site.classpath
/news-site/.c9/
/news-site/*.launch
/news-site/.settings/
/news-site/*.sublime-workspace

# Visual Studio Code
/news-site/.vscode/*
/news-site/!.vscode/settings.json
/news-site/!.vscode/tasks.json
/news-site/!.vscode/launch.json
/news-site/!.vscode/extensions.json
/news-site/.history/*

# Miscellaneous
/news-site/.angular/cache
/news-site/.sass-cache/
/news-site/connect.lock
/news-site/coverage
/news-site/libpeerconnection.log
/news-site/testem.log
/news-site/typings

# System files
/news-site/.DS_Store
/news-site/Thumbs.db


# Created by https://www.toptal.com/developers/gitignore/api/django,python,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=django,python,pycharm

### Django ###
**/__pycache__/
/news-api/*.log
/news-api/*.pot
/news-api/*.pyc
/news-api/__pycache__/
/news-api/local_settings.py
/news-api/db.sqlite3
/news-api/db.sqlite3-journal
/news-api/media
/news-api/api/migrations/


# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
/news-api/*.py[cod]
/news-api/*$py.class
# Byte-compiled / optimized / DLL files
/news-api/__pycache__/
/news-api/*.py[cod]

# Distribution / packaging
/news-api/bin/
/news-api/build/
/news-api/develop-eggs/
/news-api/dist/
/news-api/eggs/
/news-api/lib/
/news-api/lib64/
/news-api/parts/
/news-api/sdist/
/news-api/var/
/news-api/*.egg-info/
/news-api/.installed.cfg
/news-api/*.egg

# C extensions
/news-site/*.so

# Distribution / packaging
/news-api/.Python
/news-api/build/
/news-api/develop-eggs/
/news-api/dist/
/news-api/downloads/
/news-api/eggs/
/news-api/.eggs/
/news-api/lib/
/news-api/lib64/
/news-api/parts/
/news-api/sdist/
/news-api/var/
/news-api/wheels/
/news-api/share/python-wheels/
/news-api/*.egg-info/
/news-api/.installed.cfg
/news-api/*.egg
/news-api/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/news-api/*.manifest
/news-api/*.spec

# Installer logs
/news-api/pip-log.txt
/news-api/pip-delete-this-directory.txt

# Unit test / coverage reports
/news-api/htmlcov/
/news-api/.tox/
/news-api/.nox/
/news-api/.coverage
/news-api/.coverage.*
/news-api/.cache
/news-api/nosetests.xml
/news-api/coverage.xml
/news-api/*.cover
/news-api/*.py,cover
/news-api/.hypothesis/
/news-api/.pytest_cache/
/news-api/cover/
**/.pytest_cache/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
/news-api/.idea/*

# git
/news-api/.git

.idea/

/news-api/api/tests/.pytest_cache/
/news-api/.pytest_cache/

# Production config file
/news-api/config/production.env
news-api/stackhawk.yml

# Production config file
/nginx/certs/!/news-api/news_project/.pytest_cache/
!/news-api/news_project/.pytest_cache/
